
.projectList--main{
  height: 100vh;
  display: flex;
  width: 100%;
}
.projectList--filter{
height:100%;
width: 20%;
background:rgb(61, 61, 61);
display: flex;
flex-direction: column;

}
.projectList--projects{
  justify-content: center;
  height:100%;
  width:80%;
  display: flex;
  overflow: scroll;
flex-wrap: wrap;  }

